
<div class="container-fluid">
    <div class="row">
        <div class='col-sm-4  prva'>

        </div>
        <div class='col-sm-8 boja'>

            <a routerLink="/login">Odjava</a> |
            <a routerLink='/pred/promena'>Promeni šifru</a>
        </div>
    </div>
    <div class="row firstRow ">
        <div class='col-lg-12'>
            <form>

                <button class="btn btn-link link" routerLink="/pred/opsti">Podaci o preduzeću</button>
                <button class="btn btn-link link"   routerLink="/pred/narucioci">Naručioci</button>
                <button class="btn btn-link link" routerLink="/pred/robe">Robe i usluge</button>
                <button class="btn btn-link link"  routerLink="/pred/raspored">Raspored artikala</button>
                <button class="btn btn-link link"  routerLink="/pred/stolovi">Otvaranje računa</button>
                <button class="btn btn-link link"  routerLink="/pred/racuni">Zatvaranja računa</button>
                <button class="btn btn-link link"  routerLink="/pred/izvestaji">Pregled izveštaja</button>
            </form>
        </div>
    </div>
</div>



<router-outlet></router-outlet>